modules = ["nodejs-24", "python-3.11", "postgresql-16"]

[deployment]
router = "application"
deploymentTarget = "autoscale"

[deployment.postBuild]
args = ["pnpm", "store", "prune"]
env = { "CI" = "true" }

[workflows]
runButton = "Project"

[agent]
stack = "PNPM_WORKSPACE"
expertMode = true

[postMerge]
path = "scripts/post-merge.sh"
timeoutMs = 20000

[nix]
channel = "stable-25_05"

[userenv]

[userenv.shared]
SQUARE_ENVIRONMENT = "sandbox"
SQUARE_LOCATION_ID = "LXCNESB4K83M8"
SQUARE_ACCESS_TOKEN = "EAAAl9n4-EbLGVCg1LA-h1OyzikIIE2KUy2HsAim6vyvksNF5fpZLG5TK8CTiPaa"
ADMIN_USER_IDS = "42645002"
